<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include("partials/navbar") %>

<div class="container">
    <form action="/forgot-password" method="POST" class="register-form">
        <h2>Forgot Password</h2>

        <% if (error) { %>
          <div class="alert alert-error"><p style="color:red;"><%= error %></p></div>
        <% } %>

        <div class="input-group">
            <label>Enter your registered email</label>
            <input type="email" name="email" required>
        </div>

        <button class="btn">Verify</button>

        <p class="footer-text"><a href="/login">Back to Login</a></p>
    </form>
</div>

</body>
</html>
