<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/navbar") %>

    <% if (error) { %>
    <div class="alert alert-error"><%= error %></div>
    <% } %>

<div class="container">
    <form action="/reset-password" method="POST" class="register-form">
        <h2>Reset Password</h2>

        <input type="hidden" name="email" value="<%= email %>">

        <div class="input-group">
            <label>New Password</label>
            <input type="password" name="password" required>
        </div>

        <button class="btn">Update Password</button>
    </form>
</div>

</body>
</html>
